In [1]:
#Q1. Write a program to accept percentage from the user and display the grade according to following criteria.
"""
   Marks     Grade
>90           A
>80 and <=90  B
>=60 and <=80 C
<60           D
"""

'\n   Marks     Grade\n>90           A\n>80 and <=90  B\n>=60 and <=80 C\n<60           D\n'

In [4]:
percentage = float(input("Enter Percentage : "))
if percentage > 90:
    print("Grade A")
elif percentage >80 and percentage <=90 :
    print("Grade B")
elif percentage >=60 and percentage <=80 :
    print("Grade C")
else:
    print("Grade D")

Enter Percentage :  55

Grade D

In [5]:
#Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to following criteria
"""
Tax          Cost Price (in Rs)
15%             >100000
10%            >50000 and <= 100000
5%              <=50000
"""

'\nTax          Cost Price (in Rs)\n15%             >100000\n10%            >50000 and <= 100000\n5%              <=50000\n'

In [11]:
cost_price_bike = int(input("Enter the Cost price of bike: "))
if cost_price_bike >100000:
    print("Tax is 15%")
    tax = cost_price_bike + ((cost_price_bike *15)/100)
    print("Total amount including Road Tax is {}".format(tax))
elif cost_price_bike >50000 and cost_price_bike <= 100000:
    print("Tax is 10%")
    tax = cost_price_bike + ((cost_price_bike *10)/100)
    print("Total amount including Road tax is {}".format(tax))
else:
    print("Tax is 5%")
    tax = cost_price_bike + ((cost_price_bike *5)/100)
    print("Total amount including road tax is {}".format(tax))

Enter the Cost price of bike:  82000

Tax is 10%
Total amount including Road tax is 90200.0

In [13]:
#Q3.  Accept any city from the user and display the monuments of that city
"""
City            Monument
Delhi          Red Fort
Agra           Taj Mahal
Jaipur         Jal Mahal
"""

'\nCity            Monument\nDelhi          Red Fort\nAgra           Taj Mahal\nJaipur         Jal Mahal\n'

In [25]:
city = input("Select any one city from \n Delhi \n Agra \n Jaipur :")
a = city.lower()
if a == "delhi":
    print("Monument in Delhi is " + "Red Fort")
if a == "agra":
    print("Monument in Agra is " + "Taj Mahal")
if a == "jaipur":
    print("Monument in Jaipur is " + "Jal Mahal")

Select any one city from
 Delhi
 Agra
 Jaipur : Delhi

Monument in Delhi is Red Fort

In [26]:
#Q4. Check out how many times a number can be divided by 3 before it is less than or equal to 10

In [2]:
num = int(input("Enter a Number: "))
count = 0
while num >=10:
    count = count +1
    num = int(num/3)
    
print("The given Number can be divided {} times".format(count))

Enter a Number:  100

The given Number can be divided 3 times

In [4]:
#Q5. Why and when to use While loop in python give a detailed description with example.

In [ ]:
While loop in python is used to perform same operations repeatedly until the required condition is true.
It is used instead of for loop because before entering into loop it checks the condition and executes only if it is true,
unlike the for loop which performs the 1st iteration irrespective of the condition being true or false.

For example:
    if we want to give 10 objects to 10 people we use for loop, as here we give the objects indiscriminately.
    But if we want to give 5 objects to 5 people but we must first ascertain that the people receiving the object should be aged >60 
    then while loop can be used.

In [5]:
#Q6.Use nested while loop to print 3 different patterns

In [30]:
count = 5
i = 1
j=5
while i <= count:
    j= i-1
    while j>0:
        print(j, end = " ")
        j = j -1
    i = i+1
    print("\n")

1

2 1

3 2 1

4 3 2 1

In [2]:
count = 1
i = 5
j = 0
while i >= count:
    j= i-1
    while j>0:
        print(j, end = " ")
        j = j -1
    i = i-1
    print("\n")

4 3 2 1

3 2 1

2 1

1

In [3]:
count = 5
i = 1
j=5
while i <= count:
    j= i-1
    while j>0:
        print("*", end = " ")
        j = j -1
    i = i+1
    print("\n")
count = 1
i = 5
j = 0
while i >= count:
    j= i-1
    while j>0:
        print("*", end = " ")
        j = j -1
    i = i-1
    print("\n")

*

* *

* * *

* * * *

* * * *

* * *

* *

*

In [4]:
#Q7. Reverse a while loop to display numbers from 1 to 10

In [9]:
count = 10
i = 1
while i<= count:
    print(count)
    count = count -1

10
9
8
7
6
5
4
3
2
1